div.myboard{margin:10px 2vw 10px auto;padding:8px;width:480px;background-color:#EEE;color:#666;border:solid 1px #CCC;border-radius:5px}
  @media screen and (min-width:1024px){ div.myboard{margin:15px 2vw 15px auto} }
  @media screen and (max-width:640px){ div.myboard{margin:3px auto;width:95%} #mylastitem:hover div{width:85%} }
div.myboardheader{margin:0 0 10px 0;display:flex;align-items:center}
div.myboardheader p.title{flex-grow:1;font-size:1.1rem;font-weight:bold}
div.myboardheader a.button{margin:0 0 0 4px;padding:4px 8px;font-size:0.9rem;font-weight:bold;background-color:#DDD;border:solid 1px #BBB;color:#666;text-decoration:none;border-radius:3px}
div.myboardheader a.button:hover{color:#cc3234;border-color:#cc3234;text-decoration:none}
div.myboardcontent{padding:4px;background-color:#FFF;border-radius:4px}

#mylastitem div{display:none}
#mylastitem:hover div{display:block;position:absolute;z-index:10;width:450px;padding:1px 8px;background-color:#FFF;border:none;cursor:pointer;border-radius:0;box-shadow:0px 4px 4px #CCC}
#mylastitem p{padding:0;font-size:0.9rem}
#mylastitem p.title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#mylastitem .item-section{font-size:0.8rem}
#mylastitem .date{margin:4px 0 0 0;font-size:0.8rem;text-align:right;font-style:italic;border-top:solid 1px #CCC}