/* display tags */

div.tags{margin:3px 0 4px 0;vertical-align:middle}
i.tags{color:#888}

img.tags{vertical-align:middle;width:14px;height:9px}
span.tag{display:inline-block;margin:0 2px 1px 0;padding:2px 4px;background-color:#C3D9FF;color:#000;border-radius:2px}

div.tagbox{margin:10px 0}
div.tagbox p.title{display:inline-block;margin:5px 5px 0 0}
div.tagbox p.content{display:inline-block;margin:5px 0}
div.tagbox p.content i{color:#888}
div.tagbox a.tag{display:inline-block;margin:0 3px 1px 0;padding:2px 4px;background-color:#C3D9FF;color:#444;text-decoration:none;border:solid 1px #C3D9FF;border-radius:2px}
div.tagbox a.tag:hover{color:#000;text-decoration:none;border:solid 1px #0000FF}

/* editor form */

#endedittags, #tag, #addtag, #deltag{display:none}

#edittags, #endedittags{margin:3px 0 3px 5px;padding:0;width:15px;height:15px;border:none;vertical-align:middle;cursor:pointer;box-shadow:none;opacity:0.4}
#edittags:hover, #endedittags:hover{border:none;box-shadow:none}
#tag{margin:0 2px;padding:3px 2px 3px 3px;outline:none;vertical-align:bottom;border-radius:3px;border:1px solid #999999;font-size:9pt}

#addtag,
#deltag{margin:0 0 0 3px;padding:0 2px 0 2px;height:23px;width:24px;vertical-align:middle;border:solid 1px #BBB;border-radius:3px;color:#BBB}

#addtag,
#deltag{font-weight:bold}

#addtag:hover,
#deltag:hover{border-color:#999999;box-shadow:0 0 4px #BBB;cursor:pointer;color:#888}